.container{
    overflow:auto;
}
body{
    background: aliceblue;
}
nav {
    float:right;
}

.logo img {
    float:left;
    width: 200px;
    height: 100px;
}

ul li{
    display: inline-block; padding:10px;
    font-size:20px; font-family:raleway;
}

ul li:hover{
    color:darkred;
}

.left{
    padding-top: 40px;
    position: absolute;
    left: auto;
    width: 800px;
}

.right{
    align-content: center;
    padding-right: 300px;
    padding-top: 40px;
    right: auto;
}

.right img{
    float: right;
    width: 370px;
    height: 350px;
}

#zImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 600px;
}
#bottomRight{
    padding-right: 150px;
    padding-top: 390px;
    float: right;
    width: 20%;
    height: 20%;
}

.zlayout{
    background: beige;
}

